* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #fff;
    padding: 0;
    width: 100%;
}

.app-container {
    display: flex;
    height: 100vh;
    max-width: 800px;
    width: 100%;
    overflow-x: auto;
    gap: 40px;
}

.app-screen {
    width: 375px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;
    padding: 0;
    overflow: hidden;
}

/* Перший екран */
.screen-white {
    background-color: white;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0;
}

.illustration-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
}

.illustration-image {
    max-width: 80%;
    height: auto;
}

.content {
    text-align: center;
    max-width: 350px;
    flex-grow: 1; 
}

.action-title {
    background-color: #ff5f5f;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(255, 95, 95, 0.4);
    text-transform: uppercase;
    display: inline-block;
}

.description {
    color: #777;
    font-size: 14px;
    line-height: 1.6;
    padding: 0 10px;
    max-width: 300px;
    margin: 0 auto;
}

.buttons-container-fixed {
    width: 100%;
    max-width: 375px;
    position: relative;
    flex-shrink: 0;

    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pagination {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.dot.active {
    background-color: #ff5f5f;
    width: 8px;
    height: 8px;
    border-radius: 2px;
}

.btn {
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    font-size: 16px;
    flex-shrink: 0;
    width: 100px;
    text-transform: uppercase;
}

.btn-skip {
    color: #555;
    background: #f8f8f8;
    border: none;
}

.btn-next {
    background: #ff5f5f;
    color: white;
    border: none;
}

/* Екран другий */
.screen-red {
    background-color: #FF6969;
    font-family: 'Lato', sans-serif;
    justify-content: flex-start;
    align-items: center;
}

.auth-container {
    width: 100%;
    padding: 40px 47px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.logo {
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Luckiest Guy', cursive;
}

.large-heart-svg {
    width: 100px;
    height: 100px;
    fill: white; 
    margin-bottom: 10px;
}

.app-name {
    font-size: 50px;
    letter-spacing: 0.05em;
    margin: 0;
    font-weight: 900;
}

.auth-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 280px;
}

.auth-button {
    width: 130px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 0 10px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.passive {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.active {
    background-color: white;
    color: #FF6969;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    flex-grow: 1;
    margin-bottom: 40px;
}

.input-field {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #32323C;
    text-align: center;
}

.input-field::placeholder {
    color: #32323C;
    opacity: 1;
}

.forgot-password {
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    letter-spacing: 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.final-button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #FF6969;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: auto;
}

.login-prompt {
    font-size: 10px;
    color: white;
    margin-top: 0;
    text-transform: uppercase;
}

.login-link {
    color: white;
    text-decoration: underline;
    font-weight: 700;
}
